@model IEnumerable<Proyecto.Models.Dieta>

@{
    ViewData["Title"] = "Dietas";
}

<h1>Dietas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva</a>
</p>

<table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameDiet)
                <span class="badge badge-info">Nombre de la Dieta</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionDiet)
                <span class="badge badge-info">Descripción</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
                <span class="badge badge-info">Calorías</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proteins)
                <span class="badge badge-info">Proteínas</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carbohydrates)
                <span class="badge badge-info">Carbohidratos</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DietType)
                <span class="badge badge-info">Tipo de Dieta</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameDiet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionDiet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calories)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proteins)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carbohydrates)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DietType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
